.box {
    padding: 20px;
    background-color: lightblue;
    border: 2px solid #0077b6;
    text-align: center;
}


@media (max-width: 600px) {
    .box {
        background-color: pink;
        padding: 10px;
        border-color: red;
    }
}