.navbar {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.nav-link {
  margin-right: 16px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-link.active {
  color: blue;
  border-bottom: 2px solid blue;
}